<a href="https://colab.research.google.com/github/vrvijayshanker/day02practice-ict-python/blob/main/ICT_Python_Day02_PracticeQuestions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q. Write a program to find sum of all elements in a list of integers.

In [ ]:
lista = [1, 5, 12, 34, 56, 78, 90, 23, 67, 45]
print('The list is', lista)
print('Sum of the elements:', sum(lista))

The list is [1, 5, 12, 34, 56, 78, 90, 23, 67, 45]
Sum of the elements: 411

Q. Input a sentence as a string.

a) Print its length

b) Print the first half of string

In [ ]:
sent1 = input('Enter a sentence: ')
print('a) Length of the sentence:', len(sent1))
print('b) First half of the sentence:', sent1[:int(len(sent1)/2)])

Enter a sentence: World of python
a) Length of the sentence: 15
b) First half of the sentence: World o

Q. Write a program to enter a tuple of integers as
(78,45,32,19,82,77,40,39). Change the third value in the tuple to
100

In [ ]:
numbers_tuple = (78,45,32,19,82,77,40,39)
print(numbers_tuple)
temp_list = list(numbers_tuple)
temp_list[2] = 100
new_tuple = tuple(temp_list)
print(new_tuple)

(78, 45, 32, 19, 82, 77, 40, 39)
(78, 45, 100, 19, 82, 77, 40, 39)

Q. Consider a list listA=[19,32,10,55,31,32,94,29,10,65,77,40,40]

(a) Delete the first occurrence of 32

(b) Delete all occurrences of 40

(c) Delete the value at index=5

(d) Modify the value at index=9 as 300

(e) Add 200 at index=2

(f) Print the final list with its length, maximum value
and sum of all elements

In [ ]:
listA=[19,32,10,55,31,32,94,29,10,65,77,40,40]


listA[9] = 300 # d) modify value at index 9
print(listA)

listA.remove(32) # a) removes the first occurence of 32
print(listA)

while 40 in listA:
  listA.remove(40) # b) Removes all the occurrences of 40

print(listA)

listA.pop(5) # c) removes value at index 5
print(listA)

listA[2] = listA[2]+200 # e) add 200 to the value at index 2

# f)
print('\nFinal list: ', listA)
print('No. of elements: ', len(listA))
print('Largest among them: ', max(listA))
print('Sum of all: ', sum(listA))

[19, 32, 10, 55, 31, 32, 94, 29, 10, 300, 77, 40, 40]
[19, 10, 55, 31, 32, 94, 29, 10, 300, 77, 40, 40]
[19, 10, 55, 31, 32, 94, 29, 10, 300, 77]
[19, 10, 55, 31, 32, 29, 10, 300, 77]

Final list:  [19, 10, 255, 31, 32, 29, 10, 300, 77]
No. of elements:  9
Largest among them:  300
Sum of all:  763

Q. Consider a string ”The day has been long”.

(a) Delete the value at index =4

(b) Print the string 4 times in a single line with space
between each repetition

(c) Print the string 3 times in a new line each time

(d) Modify the string at index 7 as ’A’

(e) Print the string from index 4 to 15

(f) Print the final string with its length

In [ ]:
str1 = "The day has been long"

#b
print((str1+" ")*4, end="\n\n")

#c
print((str1+"\n")*4)


# a) to not consider the character at index 4
str2=""
for i in range (len(str1)):
  if i!= 4:
    str2 += str1[i]
print(str2)

#d
str3 = ""
for i in range(len(str2)):
  if i!=7:
    str3 += str2[i]
  else:
    str3 += 'A'
print(str3)

#e
print(str1[4:16]) #original string is sliced

#f
print('\nFinal string is \"'+str3+'\" It is '+str(len(str3))+' characters long!')

The day has been long The day has been long The day has been long The day has been long

The day has been long
The day has been long
The day has been long
The day has been long

The ay has been long
The ay Aas been long
day has been

Final string is "The ay Aas been long" It is 20 characters long!